{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/stijl.css' %}">

    <title>Mijn Website</title>
</head>
<body>
    <div class="header">
        Mijn website
    </div>
    
    <div class="post-container">
        {% block content %}
            {% for post in posts %}
                <article class="post">
                    <time class="date">{{ post.published_date|date:"j F Y H:i" }}</time>
                    <h2><a href="">{{ post.title }}</a></h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                </article>
            {% endfor %}
        {% endblock %}
    </div>

    <div class="footer">
    </div>
    </body>
</html>